{% extends 'index.html' %}

{% block content %}
<form method="POST" role='form'>
    <div class='form-group'>
        {{ form.hidden_tag()}}
        {{form.name(class="form-control form-control-lg " + (" is-invalid" if form.name.errors else "") + " mt-3")}}

        <br>
        {% if form.name.errors %}
        {% for error in form.name.errors %}
        <div class="invalid-feedback mt-n4">
            <h6>{{ error }}</h6>
        </div>
        {% endfor %}
        {% endif %}
        {{ form.submit(class="btn btn-outline-success btn-block ")}}
    </div>
</form>
{% endblock content %}